<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h2>Sign Up</h2>
  <form action="/users" method="POST">
    <label>Username:</label>
    <input class="email" type="text" name="username" placeholder='email' />
    <label>Password:</label>
    <input class="password" type="password" name="password"/>
    <input class="submit" type="submit" value="Submit"/>
  </form>
  <h2>Login</h2>
  <form action="/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username" placeholder='email' />
    <label>Password:</label>
    <input type="password" name="password"/>
    <input type="submit" value="Submit"/>
  </form>

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>
  <!-- <script src="../node_modules/angular/angular.js"></script>  -->
  <script type="text/javascript">
    $(document).ready(function() {
      // jquery here if needed
    });
  </script>
</body>
</html>