<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>seoTestApp</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    		<h1>Hey there</h1>
    		<form action='/tasks' method='post'>
    			<input name="name" type="text" placeholder='name' />
    			<input name="task" type="text" placeholder='task' />
    			<input type="submit">
    		</form>

        <!-- Loop -->
        <div data-task-id="">Task Name</div>

        <form action="/tasks" method="DELETE">
          <input type="hidden" name="id" value="">
            <input type="submit">
        </form>

        <form action="/tasks" method="PUT">
          <input type="hidden" name="id" value="">
          <input type="task" name="name" value="">
          <input type="task" name="itask" value="">

            <input type="submit">
        </form>
    </div>
</body>
</html>